:root {
  /* Primary colors */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --dark-cyan: hsl(167, 40%, 24%); /* graphic design text */
  --dark-blue: hsl(198, 62%, 26%); /* photography text */
  --dark-moderate-cyan: hsl(168, 38%, 56%); /* footer */

  /* Neutral */
  --very-dark-blue: hsl(211, 28%, 19%);
  --very-dark-grayish-blue: hsl(210, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(206, 4%, 67%);
  --white: rgb(255, 255, 255);
}

/* Utility classes */
/* adapted from responsiveness tutuorial slaying the dragon YT */

.container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.fw-600 {
  font-weight: 600;
}

.title {
  font-family: "Fraunces", serif;
  color: var(--very-dark-blue);
  font-weight: 900;
  font-size: 3rem;
  letter-spacing: 1.25px;
}

/* Project start */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body {
  width: 100%;
  font-family: "Barlow", sans-serif;
  font-size: 1.13rem;
  color: var(--dark-grayish-blue);
}

/* Nav start */

.navbar-toggler {
  border: none;
}

.overlay {
  position: fixed;
  padding: 1.25rem;
  margin-bottom: 20rem;
  height: 425px;
  width: 425px;

  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */

  background-color: var(--white);
  z-index: 999;
}

.nav-corner {
  position: fixed;
  top: 9.25rem;
  right: 4.2rem;
  width: 0;
  height: 0;
  border-top: 2.4rem solid transparent;
  border-bottom: 2.4rem solid transparent;
  border-right: 2.4rem solid white;
  border: 2px solid red;
}

/* Overlay navbar*/
ul li {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav-link {
  color: var(--dark-grayish-blue);
  font-size: 1.5rem;
  font-weight: 600;
  padding: 2rem;
}

.contact {
  background-color: var(--yellow);
  border-radius: 65px;
  padding: 0 2rem;
  margin: 0 6rem;
  text-transform: uppercase;
  font-family: "Fraunces", serif;
  color: var(--very-dark-grayish-blue);
}

/* Navbar end */

/* Hero start */

.hero-title {
  font-family: "Fraunces", serif;
  color: var(--white);
  padding: 2rem 4.75rem;
  font-weight: 700;
  letter-spacing: 0.5rem;
  font-size: clamp(2rem, 1rem + 10vw, 5rem);
  text-align: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
}
.arrow {
  position: absolute;
  top: 55%;
  right: 45%;
  height: 20%;
}
/* Hero end*/

/* CTA start */
p {
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.learn-btn {
  font-family: "Fraunces", serif;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: 900;
  color: var(--very-dark-blue);
}

.learn-btn-1 {
  border-bottom: 15px solid var(--yellow);
}
.learn-btn-2 {
  text-decoration-color: var(--soft-red);
}

.banner-card {
  position: relative;
}

.banner-text {
  position: absolute;
  bottom: 10%;
}

.graphic {
  color: var(--dark-cyan);
}

.photo {
  color: var(--dark-blue);
}

/* CTA end */

/* testimonials start */
.testimonials {
  letter-spacing: 4px;
  font-weight: 700;
  color: var(--grayish-blue);
}

.testimonials-img {
  border-radius: 5rem;
  width: 100px;
}

.name {
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: var(--very-dark-blue);
  padding-top: 1.75rem;
  padding-bottom: 0.75rem;
}

.job-title {
  font-size: 1.15rem;
  padding-bottom: 1.75rem;
  color: var(--grayish-blue);
}

/* testimonials end */

/* Gallery start */
.item-gallery {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

/* Gallery end*/

/* footer start */

.footer-container {
  background-color: var(--dark-moderate-cyan);
  width: min(800px, 100%);
  padding-bottom: 4rem;
}

.footer-logo {
  display: flex;
  justify-content: center;
  padding: 4.5rem 0 3rem 0;
  font-size: 3rem;
  font-weight: 700;
  color: var(--dark-cyan);
}
footer ul {
  display: flex;
  justify-content: space-between;
}

footer ul li a {
  font-size: 1.75rem;
  padding: 4rem 2.5rem;
  text-decoration: none;
  color: var(--dark-cyan);
}

.socials-container {
  display: flex;
  justify-content: space-evenly;
}

.socials-logo {
  width: 50px;
  height: 50px;
  color: var(--dark-cyan);
  padding: 4rem 0 4rem 0;
}

/* footer end */

/* screen sizes */

/* xs*/
@media (min-width: 375px) {
  .container {
    max-width: 375px;
  }
  .desktop {
    visibility: collapse;
  }

  /* Nav */
}

/* sm */
@media (min-width: 640px) {
  .conatiner {
    max-width: 640px;
  }
  .hero-desktop {
    display: none;
  }
}
/* md */
@media (min-width: 375px) {
  .container {
    max-width: 375px;
  }
  .hero-mobile {
    background-image: url(/assets/images/mobile/image-header.jpg);
  }
  img.desktop {
    display: none;
  }
}
/* l */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
  .hero-desktop {
    background-image: url(/assets/images/desktop/image-header.jpg);
    width: auto;
  }
  .hero-mobile {
    display: none;
  }
}
/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}
/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
*/ .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Project end */
