:root {
  /* Primary colors */
  --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --sunset-yellow-hover: hsl(35, 100%, 48%);
  --dark-cyan: hsl(167, 40%, 24%); /* graphic design text */
  --dark-blue: hsl(198, 62%, 26%); /* photography text */
  --dark-moderate-cyan: hsl(168, 38%, 56%); /* footer */

  /* Neutral */
  --very-dark-blue: hsl(211, 28%, 19%);
  --very-dark-grayish-blue: hsl(210, 9%, 39%);
  --dark-grayish-blue: hsl(232, 10%, 55%);
  --grayish-blue: hsl(206, 4%, 67%);
  --white: rgb(255, 255, 255);
}

/* Utility classes */

/* .darkmode{
   --soft-red: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
} */

.fw-600 {
  font-weight: 600;
}

.title {
  font-family: "Fraunces", serif;
  text-transform: initial;
  font-weight: 900;
  font-size: 4rem;
  letter-spacing: 1.25px;
  
}

.img-style{
 
  height: 100%;
  /* width: 100%; */
  max-width: fit-content;
  background-position: center;  
  background-repeat: no-repeat; 
  background-size: cover;
  background-attachment: fixed;
  
}




/* Project start */
html{
  scroll-behavior: smooth;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding:0;
}

body{
  font-size: 1.125rem; /* equals 18px (18px/16px=1.125rem), 16px = 1rem */
  font-family: "Barlow", sans-serif;
  text-align: center;
  color: var(--grayish-blue);
  font-weight: 600;
  
  
}


/* Nav start */

.nav-logo-container{
  border: 2px solid orange;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  padding: 2.5em 3em;
}


.logo{
  font-weight: 700;
  color: var(--white);
}


.hamburger{
 width: 25px;
 cursor: pointer;
}


.nav-item{
text-align: center;

}

.nav-links {
list-style: none;
padding-top: 2.25em; 
}

.nav-links a{
color: var(--grayish-blue);
font-family: "Barlow", sans-serif;
font-weight: 600;
}

 .contact{
  border: none;
  margin-top: 3em;
  font-size: 0.5rem;
  padding: 2.25em 3em;
  text-transform: uppercase;
  color: var(--very-dark-grayish-blue);
  cursor: pointer;
  border-radius: 4em;
  background-color: var(--yellow);
  transition: all 0.5s ease-in;
}

.contact:hover{
  background-color: var(--sunset-yellow-hover);  
}


/* .icon{
  position: absolute;
  right: 10%;
  background-color: black;
  width: 50px;
  height: 50px;
} */





/* Overlay navbar for mobile view*/

.overlay{
  display: none;
  position: absolute; 
  background-color: var(--white);
  left: 54%;
  top: 40%;
  padding: 1.75em 0 0.75em 0;
  transform: translate(-50%, -50%);
  width: 375px;
  height: 375px;
 
}

 .nav-corner {
  position: absolute;
  top: -2.4rem;
  right: 0;
  width:0;
  height:0;
  border-top: 2.4rem solid transparent;
  border-bottom: 2.4rem solid transparent;
  border-right: 2rem solid white;
} 

.nav-desktop{
  display: none;
}

/* Navbar end */

/* Hero start */

header{
background: url(/assets/images/mobile/image-header.jpg) no-repeat center bottom ;
height: 800px;
object-fit: cover;

}

.showcase-title{
  margin-top: 1.25em;
  letter-spacing: 0.15em;
  font-size: 3.75rem;
  text-align: center;
  font-family: "Fraunces", serif;
  color: var(--white);
  text-transform: uppercase;
  font-weight: 900;
}

.arrow-container{
  display: flex;
  justify-content: center;
  margin-top: 2em;
  height: 10rem;
}

/* Hero end*/

/* CTA start */
.cta-text{
  padding: 4.5em 0;
  margin: 0 auto;
}

.cta-title{
    color: var(--very-dark-blue);
    padding: 0 0 0.75em 0;
}

 p {
  font-size: 1.5rem;
  line-height: 2.5rem;
  padding: 0 5em 2em 5em;
}

a{
  font-family: "Fraunces", serif;
  font-size: 1.25rem;
  font-weight: 900;
  text-decoration: none;
  color: var(--very-dark-blue);
}

.learn-btn{
  text-transform: uppercase;
  color: var(--very-dark-grayish-blue);
  font-size: 1.5rem;
  letter-spacing: 2px;
  cursor: pointer;
  
}

.underline{
  position: absolute;
  left: 31%;
  height: 12px;
  width: 210px;
  border-radius: 20px;
  opacity: 0.4;
  margin-top: -9px;
  transition: 0.2s all ease-in;
}

.underline:hover{
  opacity: 0.7;
}

.yellow-underline {
  background: var(--yellow);
}
.soft-red-underline {
   background: var(--soft-red);
}

.cta-img-dt{
  display: none;
}

.cta-section-2 {
  position: relative;
}

.cta-section-2-text{
margin-top: 1.25em;
}

.graphic-text{
   position: absolute;
  bottom: 55%;
  color: var(--dark-cyan);
}


.photography-text{
  position: absolute;
  bottom: 5%;
  color: var(--dark-blue);
}
  

.photo {
  color: var(--dark-blue);
}

/* CTA end */

/* testimonials start */
.testimonials {
  letter-spacing: 4px;
  font-weight: 700;
  color: var(--grayish-blue);
  padding-bottom: 2em;
}

.testimonials-img {
  border-radius: 5rem;
  width: 100px;
  
}

.name {
  font-family: "Fraunces", serif;
  font-weight: 700;
  color: var(--very-dark-blue);
  padding-top: 1.75rem;
  padding-bottom: 0.75rem;
}

.job-title {
  font-size: 1.15rem;
  padding-bottom: 1.75rem;
  color: var(--grayish-blue);
}

/* testimonials end */

/* Gallery start */
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;

}

/* Gallery end*/

/* footer start */

footer {
  background-color: var(--dark-moderate-cyan);
  width: min(800px, 100%);
  padding-bottom: 4rem;
}

.footer-logo {
  display: flex;
  justify-content: center;
  padding: 4.5rem 0 3rem 0;
  font-size: 3rem;
  font-weight: 700;
  color: var(--dark-cyan);
}

footer ul {
  display: flex;
  justify-content: space-between;
}

footer ul li a {
  font-size: 1.75rem;
  padding: 4rem 2.5rem;
  text-decoration: none;
  color: var(--dark-cyan);
}

.socials-container {
  display: flex;
  justify-content: space-evenly;
}

.socials-logo {
  width: 50px;
  height: 50px;
  color: var(--dark-cyan);
  padding: 4rem 0 4rem 0;
}

/* footer end */


/* Tablet */

@media(min-width: 790px){

header{
  background: url(/assets/images/desktop/image-header.jpg);
  background-position: center;
}
  .hamburger{
    display: none;
  }

  .nav-item{
    display: flex;
    flex-direction: row;
  }
  .hero-mobile{
background-repeat: no-repeat;
  }


}



/* Desktop */
@media (min-width: 900px) {

  /* nav */
  .overlay{
    display: none;
  }
.nav-mobile{
  display: none;
}

 .nav-desktop{
  display: flex;
  flex-direction: row;
  color: var(--white);
  } 

  /* hero */
  section .hero{
    max-width: 100%;
  }
  
  .hero-mobile {
    display: none;
  }

  .hero-desktop{
  background-image: url("/assets/images/desktop/image-header.jpg");
  max-width: 100%;
  display: block;
 object-fit: cover;
  
  }

  .arrow{
  top: 45%;
  height: 20%;
  margin-top: 2em;
}

/* hero end */

/* nav start */

.nav-link{
  color: var(--white);
  font-weight: normal;
}



}

/* nav end */

/* cta start */

.ct-section-1 img{
display: flex;
height: 350px;
}

.cta-img-mb{
    display: none;
  }

  .cta-img-dt{
    display: flex;
    flex-direction: row;
  }

/* cta end */

/* testimonials start */
/* testimonials end */

/* gallery start */
/* gallery end */

/* footer start */
/* footer end */


 .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}


/* Project end */
